appdirs==1.4.4
asgiref==3.11.1
asttokens==3.0.1
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
decorator==5.2.1
django==6.0.4
django-extensions==4.1
django-simple-deploy==1.4.1
executing==2.2.1
factory-boy==3.3.3
faker==40.13.0
gunicorn==25.3.0
idna==3.13
ipython==9.12.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
packaging==26.2
parso==0.8.6
pluggy==1.6.0
prompt-toolkit==3.0.52
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg-pool==3.3.0
ptpython==3.0.32
pure-eval==0.2.3
pygments==2.20.0
requests==2.33.1
sqlparse==0.5.5
stack-data==0.6.3
toml==0.10.2
traitlets==5.14.3
typing-extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
wcwidth==0.6.0
whitenoise==6.12.0
